<div id="feedback">
	<form name='feedback_form'>
	  <p>Enter you name: <input type='text' ng-model='new_feedback.name' size='25' /></p>
	  <p>Enter you comments:<br>
	    <textarea name='comments' ng-model='new_feedback.comment' rows='5' cols='40' >
	    </textarea>
	  </p>
	  <p>
	    <button ng-click='submit_feedback()' ng-disabled='!feedback_form.$valid'>Submit</button>
	  </p>
	</form>
	<div ng-repeat='comment in comments'>
		<p>
			<span>{{comment.name}}:</span>
			<span>"{{comment.comment}}"</span>
		</p>
	</div>
</div>
